In [1]:
#que 1

In [2]:
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

In [3]:
#que 2

In [4]:
total = 0
num = 1
while num <= 10:
    total +=num
    num +=1
    
    print("the sum of number from 1 to 10 is:",total)

the sum of number from 1 to 10 is: 1
the sum of number from 1 to 10 is: 3
the sum of number from 1 to 10 is: 6
the sum of number from 1 to 10 is: 10
the sum of number from 1 to 10 is: 15
the sum of number from 1 to 10 is: 21
the sum of number from 1 to 10 is: 28
the sum of number from 1 to 10 is: 36
the sum of number from 1 to 10 is: 45
the sum of number from 1 to 10 is: 55

In [11]:
def factorial(n):
    result = 1
for i in range(1, n+1):
    result *= i
return result 


number = int(input("enter a number:"))
print("factorial of",number,"s",factorial(number))

NameError: name 'n' is not defined

In [10]:
#que 4
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

In [11]:
count_vowels("hello, how are you?")

7

In [9]:
#QUE 5
for i in range(5):
    for j in range(i + 1):
        print("*",end = "")
    print()

*
**
***
****
*****

In [12]:
#que 6
table_size = 10
for i in range(1, table_size + 1):
    for j in range(1, table_size + 1):
       product = i * j
    print(f"{i} * {j} = {product}\t",end="")

1 * 10 = 10	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50	6 * 10 = 60	7 * 10 = 70	8 * 10 = 80	9 * 10 = 90	10 * 10 = 100